<li>
  Name: <%= user.name %>
  <span class="profile-link">
  <button type="button" class="btn btn-info"><%= link_to 'See Profile   ',  user_path(user), class: 'profile-link' %></button>
    
  </span>
  <span class="profile-link">
    
    <button type="button" class="btn btn-primary"><%= invite_or_pending_btn(user) %></button>
  </span>
</li>


